
body {
    background-color: #f0f2f5; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-shadow {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
}

.bg-school {
    background-color: #2c3e50;
}

.text-school {
    color: #2c3e50;
}

.btn-school {
    background-color: #3498db;
    color: white;
}
.btn-school:hover {
    background-color: #2980b9;
    color: white;
}


.inputError {
    border: 2px solid #e74c3c !important;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

header {
    margin-bottom: 0; 
}